.footer {
    position        : fixed;
    bottom          : 0;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: $primary-color;
    padding         : 30px 10vw;

    p {
        color     : $secondary-color;
        text-align: center;
    }
}